/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Mar, 2021, 10:44:50 PM
    Author     : USER
*/
.details-container {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.details-item {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 180px;
    padding: 30px;
    border: 1px solid #CDCDCD;
}

.details-item .label-text {
    padding-left: 5px;
}


.fas {
    color: #696969;
}

.fas:hover {
    color: black;
}

.details-item input {
    max-width: 200px;
}

.editable-input {
    border: none !important;
    box-shadow: none !important;
}

input[readonly] {
    border: none !important;
    box-shadow: none !important;
}

.editable-input:focus {
    border: 1px solid rgba(82,168,236,0.8) !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(82 168 236 / 60%) !important;
}

.patient-notes {
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.button-group .button {
    width: 100px;
    float: right;
    margin-right: 20px;
}

/*--- Side Panel ---*/
.side-panel {
    width: 200px;
    padding: 20px;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    flex-grow: 0;
    flex-shrink: 0;
}

.side-panel>div {
    margin: 10px 0 10px;
}

.side-panel .ui-inputfield {
    width: 95%;
}

/*--- Drug Dynamic Input Box ---*/
.dynamic-item {
    position: relative;
}

.dynamic-item:hover .red-button {
    opacity: 1;
}

.dynamic-item .red-button {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 31px;
    width: 31px;
    border-radius: 5px;
    z-index: 2;
    transition: opacity 0.3s;
}

/*--- Remove Primefaces tabs border at the bottom ---*/
.ui-tabs.ui-tabs-top {
    border-bottom: 0;
}

/*--- Remove Primefaces Datatable style ---*/
.ui-datatable th, .ui-paginator, .ui-paginator .ui-state-default {
    background-image: none !important;
    background-color: white !important;
}

.ui-datatable .ui-column-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.ui-datatable td {
    font-family: 'Roboto', sans-serif;
}

.ui-datatable .ui-paginator-current {
    font-size: medium;
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
}

/*--- Remove Primefaces button styles ---*/
.p-remove {
    background-image: none;
    text-shadow: none;
    font-size: 14px;
}

.p-remove .ui-button-text {
    font-family: 'Fira Sans', sans-serif !important;
    padding: 0;
}

